<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<appConfig>
    <user>
        <functionMode>0</functionMode>
        <appTitle>BesImage</appTitle>
        <iconPath></iconPath>
        <backgroundImagePath></backgroundImagePath>
        <initPath>C:\Users\Benso\Desktop\NCOut\aaaa\Label_all</initPath>
        <onlyShowOneImage>0</onlyShowOneImage>
        <closeDirTreeOnOpen>0</closeDirTreeOnOpen>
    </user>
    <default>
        <defaultBackgroundPath>resource/default/1.jpg</defaultBackgroundPath>
        <besimageBlackIcon>resource/default/besimage-black.ico</besimageBlackIcon>
        <besimageWhiteIcon>resource/default/besimage-white.ico</besimageWhiteIcon>
        <isWindowHeaderColorBlack>1</isWindowHeaderColorBlack>
        <isWindowHeaderColorBlack>1</isWindowHeaderColorBlack>
    </default>
</appConfig>
